@import './../app'

#home-page
  +bg($dark)
  +square(100%)
  .content
    +v-h-center(absolute)
    @media screen and (min-width: 768px)
      width: 750px
    .identity
      +p(40px 0)
      +a-center
      .app-name
        +clr($whitesmoke)
        text-transform: lowercase
        +m(20px 0 0 0)
        +f-size(4.5em)
      .title
        +block
    .links
      +p(0)
      +a-center
      list-style-type: none
      .pipe
        +ml(10px)
        +mr(10px)
        +none
        @media screen and (min-width: 768px)
          +inline-block
      a
        +mt(5px)
        +mb(5px)
        +block
        @media screen and (min-width: 768px)
          +inline-block
      .link-item
        +mt(10px)
        +mb(10px)
        a.contact
          +block
        &.upwork
          img
            +square(14px)
            +radius(50%)
            +mb(3px)
            +mr(4px)
        small.caption
          +rel
          bottom: -5px